.about {
  width: 100%;

  background-color: $bg-dark-light;

  @include section-border-radius();
}

.about__wrap {
  padding: 37px 34px 18px 25px;

  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/about-mobile@2x.png"),
      url("../../img/blue-back-mobile.png");
    background-size: 310px auto, 106px auto;
  }
}

.about__title {
  margin-bottom: 28px;
}

.about__intro {
  margin-bottom: 24px;
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    @include section-border-radius(60px);
  }

  .about__wrap {
    padding: 45px 353px 88px 34px;

    background-image: url("../../img/about-tablet@1x.png");
    background-position: 85% 25%;
    background-size: auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/about-tablet@2x.png"),
        url("../../img/blue-back-about.png");
      background-size: 342px auto, 688px auto;
      background-position: 100% 40%, 50% 0%;
    }
  }

  .about__button {
    position: relative;
    display: block;
    width: 274px;
    padding: 25px 80px 26px 34px;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    border-radius: 18px;

    &::after {
      content: "";
      position: absolute;
      top: 29px;
      right: 35px;

      width: 10px;
      height: 14px;

      background-image: url("../../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .about__wrap {
    padding: 135px 630px 163px 70px;

    background-image: url("../../img/about-desktop@1x.png");
    background-size: auto;
    background-position: 60% 100%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/about-desktop@2x.png"),
        url("../../img/blue-back-tablet.png");
      background-size: 610px auto, 212px auto;
      background-position: 90% 100%, 5% 15%;
    }
  }

  .about__intro {
    margin-bottom: 50px;

    &:nth-child(3) {
      width: 415px;
      margin-bottom: 90px;
    }
  }
}
