.about {
  @include section-padding(34px);
  padding-bottom: 85px;

  background-color: $bg-dark-light;
  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @include section-border-radius();
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about__button {
    display: block;
  }
}
