.alphabet-table {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: $title-dark;

  background-color: #ffffff;

  border-collapse: collapse;
}

.alphabet-table__item {
  padding: 16px 20px;

  border: 1px solid $border-grey;
}

.alphabet-table__radio-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: $title-dark;

  &--current {
    color: #ffffff;
  }
}
