.alphabet-table {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: $title-dark;

  background-color: #ffffff;

  border-collapse: collapse;
}

.alphabet-table__item {
  padding: 12px 16px;

  color: $title-dark;
  text-align: center;
  vertical-align: middle;

  border: 1px solid $border-grey;

  &--current {
    color: #ffffff;

    background-color: $bg-dark;
  }

  &--form {
    padding: 12px;
  }

  &--current-form {
    background-color: $bg-light;
  }
}

.alphabet-table__radio-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

@media (min-width: $tablet-width) {
  .alphabet-table {
    background-color: transparent;

    border: none;
  }

  .alphabet-table__item {
    &--catalog {

      padding: 11px 15px;

      color: rgba($title-dark, 0.3);

      background-color: transparent;

      border: none;
    }

    &--form {
      width: 54px;
      height: 70px;
    }

    &--current {
      color: $title-dark;
    }

    &--current-form {
      color: #ffffff;

      background-color: $title-dark;
    }
  }

  .alphabet-table__radio-label {
    &--catalog {
      font-size: 60px;
      line-height: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .alphabet-table__item {
    &--form {
      width: 60px;
      height: 70px;
      border-spacing: 15px;
    }
  }
}
