.button {
  padding: 11px 39px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $title-dark;
  text-transform: uppercase;
  vertical-align: bottom;

  background-color: $bg-button;

  border-radius: 25px;

  &--phone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;

    background-color: $bg-button-orange;

    border-radius: 50%;
  }

  &--mail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;

    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 15px 29px;

    font-size: 20px;
    vertical-align: top;

    &--phone,
    &--mail {
      padding: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &:hover,
    &:focus {
      background-color: $bg-button-yellow;
    }

    &:active {
      color: rgba($bg-dark, 0.3);
    }

    &:active::after {
      opacity: 0.3;
    }

    &--phone:hover,
    &--phone:focus {
      background-color: $bg-phone-hvr;
    }

    &--mail:hover,
    &--mail:focus {
      background-color: $bg-button-orange;
    }

    &--phone:active > svg,
    &--mail:active > svg {
      opacity: 0.3;
    }

    &--sign-in:hover,
    &--sign-in:focus {
      background-color: $bg-button-yellow;
    }

    &--sign-in:active {
      color: rgba($bg-dark, 0.3);
    }
  }
}
