.call-to-action {
  position: relative;

  width: 100%;

  background-color: $bg-dark-light;

  @include section-border-radius();
  @include outer-fill($bg-button);
}

.call-to-action__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 28px;
}

.call-to-action__title {
  margin-bottom: 20px;
}

.call-to-action__intro {
  margin: 0 35px;
  margin-bottom: 30px;

  text-align: center;
}

.call-to-action__form {
  display: flex;
  align-items: flex-start;
  margin-bottom: 28px;
}

.call-to-action__input {
  width: 237px;
  padding: 21px 52px 20px 25px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border: none;
  border-radius: 8px;
}

.call-to-action__button {
  position: relative;
  margin-left: -27px;
  padding: 31px;

  border: none;
  border-radius: 8px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -6px;
    margin-right: -7px;

    width: 10px;
    height: 15px;

    background-image: url("../../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.call-to-action__button-label {
  display: none;
}

.call-to-action__text-wrap {
  margin: 0 25px 20px;

  text-align: center;
}

.call-to-action__text {
  &--desktop {
    display: none;
  }
}

.call-to-action__contacts {
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.call-to-action__contacts-link {
  color: $bg-button;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .call-to-action {
    @include section-border-radius(60px);
  }

  .call-to-action__container {
    padding-top: 71px;
    padding-bottom: 60px;
  }

  .call-to-action__title {
    margin-bottom: 60px;
  }

  .call-to-action__intro {
    margin-bottom: 66px;
  }

  .call-to-action__form {
    width: 100%;
    margin-bottom: 57px;
    padding: 0 35px;
  }

  .call-to-action__input {
    flex-grow: 1;
    padding: 26px 35px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .call-to-action__button {
    margin: 0;
    padding: 40px;

    border-radius: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &::before {
      margin-top: -6px;
      margin-right: -4px;
    }
  }

  .call-to-action__text-wrap {
    display: flex;
    margin: 0 25px 40px 35px;
  }

  .call-to-action__text {
    margin-right: 10px;
  }

  .call-to-action__contacts {
    margin-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .call-to-action__container {
    padding-top: 102px;
    padding-bottom: 105px;
  }

  .call-to-action__title {
    margin-bottom: 60px;
  }

  .call-to-action__intro {
    margin-bottom: 60px;
  }

  .call-to-action__form {
    margin-bottom: 65px;
    padding: 0 75px;
  }

  .call-to-action__input {
    padding: 26px 31px;

    &:hover,
    &:focus {
      background-color: $bg-light;
    }

    &:active {
      padding: 24px 32px;

      color: #ffffff;

      background-color: $bg-contacts;

      border: 3px solid #ffffff;
    }
  }

  .call-to-action__button {
    padding: 25.4px 150px 25px 36px;

    &::after {
      top: 39px;
      right: 42px;
    }
  }

  .call-to-action__button-label {
    display: inline;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }

  .call-to-action__text-wrap {
    margin-bottom: 45px;
    margin-left: 30px;
  }

  .call-to-action__text {
    margin-right: 5px;

    &--nodesktop {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .call-to-action__contacts {
    flex-direction: row;
    padding-left: 190px;
  }

  .call-to-action__contacts-link {
    margin-right: 112px;
  }
}
