.country-filter {
  position: relative;
  width: 100%;

  background-color: $bg-light-grey;

  @include section-border-radius(20px);
  @include outer-fill();
}

.country-filter__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 15px;
  padding-bottom: 15px;
}

.country-filter__title {
  position: relative;
  margin: 0;
  padding-left: 27px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $bg-dark-light;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;

    width: 15px;
    height: 10px;


    background-image: url("../img/filter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.country-filter__button {
  margin-right: 4px;
  padding: 0;
  background-color: transparent;

  border: none;

  &--close {
    width: 100%;
    padding: 5px 0;

    background-color: $bg-countries-filter-button;

    border: none;
  }
}

.country-filter__button-label {
  display: none;
}

.country-filter__button-icon {
  display: none;

  vertical-align: middle;

  fill: $bg-dark-light;

  &--active {
    display: inline;
  }

  &--close {
    display: inline-block;

    vertical-align: baseline;

    width: 12px;
    height: 12px;
  }
}

.country-filter__continents {
  display: none;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 25px;

  &--nojs {
    display: block;
  }

  &--open {
    display: block;
  }
}

.country-filter__wrap {
  display: none;
  width: 100%;

  &--nojs {
    display: block;
  }

  &--open {
    display: block;
  }
}

.country-filter__table {
  margin: 25px;
  margin-top: 0;
}

.country-filter__list {
  margin-bottom: 25px;
  margin-left: 25px;
}

@media (min-width: $tablet-width) {
  .country-filter {
    @include section-border-radius(60px);
  }

  .country-filter__container {
    padding: 53px 72px 40px;
  }

  .country-filter__title {
    display: none;
  }

  .country-filter__continents {
    display: flex;
    order: -1;
    margin: 0;
  }

  .country-filter__button {
    &--close {
      padding: 35px;
      border-radius: 18px;
    }
  }

  .country-filter__button-icon {
    width: 27px;
    height: 5px;

    &--close,
    &--cross {
      width: 18px;
      height: 18px;
    }

    &--cross {
      margin-right: 20px;
    }
  }

  .country-filter__button-label {
    display: none;
    margin-right: 65px;

    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;

    &--open {
      margin-right: 12px;
    }

    &--active {
      display: inline;
    }
  }

  .country-filter__wrap {
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 55px;

    &--nojs {
      display: flex;
    }

    &--open {
      display: flex;
      margin-top: 42px;
    }
  }

  .country-filter__table {
    margin: 0;
    margin-right: 100px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .country-filter__title {
    display: block;
    order: -1;
    margin-right: 39px;
    padding-left: 51px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      left: 8px;

      width: 23px;
      height: 15px;
    }
  }

  .country-filter__continents {
    margin-right: auto;
  }

  .country-filter__button {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--close:hover,
    &--close:focus {
      opacity: 1;

      background-color: #c8cee8;
    }

    &--close:active {
      color: rgba($title-dark, 0.3);
    }

    &--close:active > .country-filter__button-icon {
      fill: rgba($title-dark, 0.3);
    }
  }

  .country-filter__button-icon {
    margin-right: 51px;

    &--close {
      margin-right: 15px;
    }
  }

  .country-filter__button-label {
    margin-right: 58px;
  }

  .country-filter__table {
    display: none;
  }

  .country-filter__list {
    width: 100%;
    margin-left: 54px;
    margin-bottom: -86px;
  }
}
