.country-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  list-style: none;
}

.country-select__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    right: 50px;

    width: 5px;
    height: 10px;

    background-image: url("../../img/small-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:last-child::before {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 49px;

    width: 8px;
    height: 8px;

    background-color: $title-dark;

    border-radius: 50%;
  }

  &--unselect::after {
    background-color: #ffffff;

    border: 1px solid $filter-text-border;
  }

  &--disabled::after {
    background-color: $bg-light;

    border: 1px solid $filter-text-border;
  }
}

.country-select__select {
  position: relative;
  flex-grow: 1;
  margin: 0;
  padding: 12px 0 11px 11px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: $title-dark;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;

  background-color: transparent;

  border: 1px solid $filter-text-border;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to right, rgba(#ffffff, 0) 60%, #ffffff 80%);

    border-radius: 5px;
  }

  &--disabled {
    background-color: $bg-light;
    border: none;

    &::before {
      display: none;
    }
  }
}

.country-select__image-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
  padding: 8px;

  border: 1px solid $filter-text-border;
  border-radius: 5px;
}

.country-select__button {
  position: absolute;
  top: 12px;
  right: 62px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  background-color: transparent;

  border: none;

  &--unselect,
  &--disabled {
    right: 12px;
  }

  &--disabled {
    top: 11px;
  }

  &--delete {
    top: -10px;
    right: -11px;

    width: 21px;
    height: 21px;

    background-color: $bg-light;

    border: none;
    border-radius: 50%;
  }
}

.country-select__button-icon {
  fill: rgba(#000000, 0.3);

  &--table {
    fill: rgba(#ffffff, 0.3);
  }

  &--delete {
    fill: rgba(#000000, 0.1);
  }
}

.country-select__table-wrap {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  display: none;
  flex-wrap: wrap;
  width: 100%;

  background-color: #ffffff;

  border: 1px solid $border-grey;
  border-radius: 9px;
}

.country-select__table-button {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 12px 16px 12px 13px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $title-dark;

  border: none;

  @include section-top-border-radius(9px);
}

.country-select__table {
  width: 100%;
}

.country-select__list {
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .country-select {
    position: relative;
    padding-top: 41px;

    border-top: 1px solid $bg-plan-add;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 134px;

      width: 1px;
      height: 450px;

      background: linear-gradient(to bottom, $bg-plan-add 80%, #ffffff 90%);
    }
  }

  .country-select__item {
    margin-bottom: 17px;

    &::before {
      display: none;
    }

    &::after {
      top: 25px;
      right: 127px;

      width: 15px;
      height: 15px;
    }
  }

  .country-select__select {
    flex-grow: 0;
    width: 370px;
    margin-right: 51px;
    padding: 23px 24px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .country-select__image-wrap {
    flex-grow: 1;
    padding: 0;

    border: none;
    border-radius: 0;
  }

  .country-select__image {
    width: 70px;
    height: 47px;
    margin-right: 89px;
  }

  .country-select__button {
    top: 25px;
    right: 188px;

    &--delete {
      position: static;

      background-color: transparent;
    }

    &--last {
      margin-left: auto;
    }
  }

  .country-select__button-icon {
    transform: scale(1.3);

    &--delete {
      transform: scale(2);
    }

    &--table {
      width: 18px;
      height: 18px;
    }
  }

  .country-select__table-wrap {
    top: 70px;

    width: 575px;

    border: none;

    box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  }

  .country-select__table {
    tbody {
      display: flex;
      flex-wrap: wrap;
    }

    width: 318px;
    margin: 35px 25px;
  }

  .country-select__table-button {
    position: absolute;
    top: -70px;
    left: 0;
    width: 368px;
    padding: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  .country-select__list {
    padding: 35px 25px;
    padding-right: 60px;

    border-left: 1px solid rgba($bg-plan-add, 0.5);
  }
}

@media (min-width: $desktop-width) {
  .country-select {
    border: none;

    &::before {
      right: 225px;
    }
  }

  .country-select__item {
    &::after {
      right: 218px;
    }
  }

  .country-select__select {
    width: 730px;
    margin-right: 86px;

    &:hover {
      border-color: #959bb2;
    }

    &:hover + .country-select__button > .country-filter__button-icon {
      fill: rgba(#000000, 0.5);
    }

    &--disabled:hover {
      background-color: #dfe3f0;
    }

    &--disabled:active {
      opacity: 0.4;
    }
  }

  .country-select__button {
    top: 24px;
    right: 298px;

    &--delete {
      margin-right: 5px;
    }

    &--delete:hover .country-select__button-icon--delete,
    &--delete:focus .country-select__button-icon--delete {
      fill: rgba(#000000, 0.3);
    }

    &--delete:active .country-select__button-icon--delete {
      fill: rgba(#000000, 0.05);
    }
  }

  .country-select__button-icon {
    &--table:hover,
    &--table:focus {
      fill: #ffffff;
    }

    &--table:active {
      fill: rgba(#ffffff, 0.1);
    }
  }

  .country-select__table-wrap {
    align-items: flex-start;
    width: 730px;
  }

  .country-select__table {
    width: 465px;
    margin: 0;

    border-collapse: separate;
    border-spacing: 15px;
  }

  .country-select__table-button {
    position: relative;

    width: 100%;
  }
}
