.create-plan {
  width: 100%;

  background-color: $bg-plan-add;

  @include section-top-border-radius();
}

.create-plan__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 283px;
}

.create-plan__title {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .create-plan__container {
    padding-top: 46px;
    padding-bottom: 218px;
  }

  .create-plan__title {
    margin-bottom: 52px;
    margin-left: 35px;

    font-size: 36px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .create-plan {
    @include section-top-border-radius(50px);
  }

  .create-plan__container {
    padding-bottom: 227px;
  }

  .create-plan__title {
    margin-left: 70px;
  }
}
