.find-textfield {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 21px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: $title-dark;
  text-transform: uppercase;

  &--date {
    position: relative;
  }
}

.find-textfield__name {
  margin-bottom: 12px;
}

.find-textfield__short {
  margin-left: 35px;
  color: rgba($title-dark, 0.3);
}

.find-textfield__wrap {
  position: relative;

  display: flex;
  width: 100%;
}

.find-textfield__button {
  position: absolute;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  padding: 0;

  background-color: transparent;

  border: none;
  border-radius: 5px;

  &--decrease {
    left: 1px;
  }

  &--increase {
    right: 1px;
  }

  &--date-decrease,
  &--date-increase {
    width: 42px;
    height: 42px;
  }

  &--date-decrease {
    left: 0;
    justify-content: flex-start;
  }

  &--date-increase {
    right: 0;
    justify-content: flex-end;
  }
}

.find-textfield__button-icon {
  fill: rgba(#606161, 0.3);
}

.find-textfield__textfield {
  width: 100%;
  padding: 12px 43px;

  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: $title-dark;
  text-align: center;

  border: 1px solid $border-grey;
  border-radius: 5px;

  appearance: none;

  &--date {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

@media (min-width: $tablet-width) {
  .find-textfield {
    width: 100%;
    margin-bottom: 35px;
    padding-top: 25px;

    border-top: 1px solid $bg-plan-add;

    &:first-child {
      order: -1;
    }

    &--date {
      margin-top: 24px;
      margin-bottom: 31px;
      border: none;
    }
  }

  .find-textfield__name,
  .find-textfield__short {
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 20px;
  }

  .find-textfield__wrap {
    width: 100%;
  }

  .find-textfield__button {
    width: 68px;
    height: 68px;

    &--date-decrease,
    &--date-increase {
      top: 25px;

      width: 85px;
      height: 85px;
    }
  }

  .find-textfield__button-icon {
    width: 20px;
    height: 20px;

    &--date {
      width: 19px;
      height: 34px;
    }
  }

  .find-textfield__textfield {
    padding: 22px 60px;

    font-size: 20px;
    line-height: 20px;

    appearance: none;

    &--date {
      font-size: 36px;
      line-height: 36px;
    }
  }
}

@media (min-width: $desktop-width) {
  .find-textfield {
    align-items: center;
    width: 485px;
    margin-bottom: 14px;
    padding: 0;
    border: none;

    &--date {
      width: 100%;
    }
  }

  .find-textfield__name {
    width: 190px;
    margin: 0;
    margin-right: 32px;
  }

  .find-textfield__short {
    order: 2;
    margin: 0;
  }

  .find-textfield__wrap {
    width: 181px;
    margin-right: 39px;
  }

  .find-textfield__textfield {
    &:hover {
      border-color: #959bb2;
    }

    &:focus {
      border-color: $bg-dark;
    }

    &--date:hover,
    &--date:focus {
      border-color: $border-grey;
    }
  }

  .find-textfield__button {
    &--date-decrease,
    &--date-increase {
      top: 1px;
    }

    &:hover .find-textfield__button-icon,
    &:focus .find-textfield__button-icon {
      fill: rgba(#000000, 0.4);
    }

    &:active .find-textfield__button-icon {
      fill: rgba(#000000, 0.1);
    }
  }
}
