.footer {
  position: absolute;
  z-index: 10;
  bottom: 0;

  width: 100%;

  background-color: #ffffff;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.footer__container {

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 38px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $text-dark;
}

.footer__link {
  margin-bottom: 31px;
}

.footer__social-list {
  width: 100%;
  margin-bottom: 13px;
  padding-bottom: 37px;

  border-bottom: 1px solid #f2f2f2;
}

.footer__social-item {
  margin: 0;
}

.footer__social-link {
  background-color: $bg-button;

  fill: $title-dark;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 27px;
}

.footer__copyright-link {
  margin-bottom: -1px;
}

.footer__copyright-icon {
  vertical-align: middle;
  fill: $bg-dark-light;
}

@media (min-width: $tablet-width) {
  .footer {
    @include section-top-border-radius(60px);
  }

  .footer__container {
    flex-direction: row;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 46px;

    font-size: 20px;
    line-height: 24px;
  }

  .footer__link {
    margin: 0;
    margin-right: 89px;
    margin-left: 2px;
  }

  .footer__logo {
    width: 164px;
    height: 42px;
  }

  .footer__social-list {
    width: auto;
    margin: 0;
    margin-right: 96px;
    padding: 0;
    border: none;
  }

  .footer__copyright {
    width: auto;
    margin-bottom: 5px;
    justify-content: flex-end;
  }

  .footer__copyright-link {
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .footer__container {
    padding-top: 50px;
  }

  .footer__link {
    margin-right: 370px;
  }

  .footer__logo {
    width: 198px;
    height: 52px;
  }

  .footer__social-list {
    max-width: 750px;
    margin-right: 415px;
  }

  .footer__copyright {
    margin-bottom: 1px;
  }

  .footer__copyright-link {
    margin-left: 23px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
