.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 73px;

  background-color: $bg-dark;

  @include section-border-radius();

  &--main {

    background-image: url("../../img/traveller-illustration-mobile@1x.png"),
      url("../../img/globe-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 62% 100%, 100% 0;

    @include section-border-radius(0);
  }

  &--nojs {
    background-position: 62% 100%, 100% 125%;
  }
}

.header__scroll-wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  margin-left: -160px;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;

  background-color: $bg-dark;

  &--nojs {
    position: static;
    margin: 0;
    margin-top: -73px;
    padding: 0;

    background-color: #ffffff;
  }

  &--menu-open {
    background-color: #ffffff;
  }
}

.header__link {
  margin-left: 25px;
  padding-top: 27px;
  padding-bottom: 22px;
}

.header__menu-button {
  align-self: center;
  margin-right: 25px;
  padding: 0;

  background-color: transparent;

  border: none;

  &--nojs {
    display: none;
  }
}

.header__menu-icon {
  display: none;

  fill: #ffffff;

  &--close {
    fill: #cccccc;
  }

  &--active {
    display: block;
  }
}

.header__button-list {
  display: flex;
  order: 2;
  margin: 0;
  margin-bottom: -15px;
  margin-left: 25px;
  padding: 0;

  list-style: none;

  &--secondary {
    display: none;
  }
}

.header__title {
  width: 100%;
  margin: 19px 5px 240px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  &--secondary {
    position: relative;
    width: auto;
    margin: 34px auto 0 25px;
    padding-bottom: 9px;

    text-align: left;
  }

  &--secondary::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: $bg-button-orange;

    border-radius: 3px;
  }
}

.header__back-button {
  display: none;

  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .header {
    flex-direction: row;
    align-items: center;
    padding-top: 132px;

    background-image: none;

    @include section-border-radius(60px);

    &--main {
      background-color: $bg-dark-light;

      @include section-border-radius(0);
    }
  }

  .header__scroll-wrap {
    left: 50%;
    margin-left: -$tablet-width/2;

    width: 440px;

    @include section-padding(0, 40px);

    &--main {
      background-color: $bg-dark-light;
    }

    &--menu-open {
      background-color: #ffffff;
    }

    &--nojs {
      width: 100%;
      margin-top: -132px;
      margin-left: 0;
      padding: 0;

      background-color: #ffffff;
    }
  }

  .header__link {
    padding-top: 42px;
    padding-bottom: 37px;
  }

  .header__logo {
    width: 164px;
    height: 42px;
  }

  .header__menu-button {
    padding-left: 25px;
  }

  .header__button-list {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 50%;

    justify-content: flex-end;
    align-self: center;
    width: 328px;
    order: 0;
    margin: 0;
    margin-right: -$tablet-width/2;
    padding: 51px 40px 48px 40px;

    &--main {
      background-color: $bg-dark-light;
    }

    &--menu-open {
      background-color: #ffffff;
    }

    &--secondary {
      display: flex;
    }

    &--nojs {
      display: none;
    }
  }

  .header__button-item {
    display: none;

    &--active {
      display: block;
    }
  }

  .header__title {
    margin: 30px 140px 0;

    font-size: 60px;
    line-height: 70px;

    &--secondary {
      margin: 86px 0 0 75px;
      padding-bottom: 63px;
    }

    &--secondary::after {
      bottom: -4px;

      width: 100%;
      height: 8px;

      border-radius: 4px;
    }
  }

  .header__back-button {
    position: relative;
    display: block;
    margin-right: 40px;
    padding: 29px 96px 0 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 7px;
      right: 35px;

      width: 32px;
      height: 16px;

      background-image: url("../../img/return.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 110px;

    &--main {
      background-color: $bg-dark;
      background-image: url("../../img/traveller-illustration-desktop@1x.png"),
        url("../../img/globe-back-desktop@1x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 60% 100%, 50% 100%;
    }
  }

  .header__scroll-wrap {
    align-items: center;
    width: 1035px;
    left: 50%;
    margin: 0;
    margin-left: -$desktop-width/2;
    padding: 20px 60px;

    background-color: $bg-dark;

    &--nojs {
      position: fixed;
    }
  }

  .header__link {
    padding: 0;
  }

  .header__logo {
    width: 198px;
    height: 52px;
  }

  .header__menu-button {
    display: none;
  }

  .header__button-list {
    display: flex;
    right: 50%;

    order: 2;
    width: 405px;
    margin: 0;
    margin-right: -$desktop-width/2;
    padding: 35px 60px;

    background-color: $bg-dark;
  }

  .header__button-item {
    display: block;
  }

  .header__title {
    order: 2;
    width: 400px;
    margin-top: 89px;
    margin-right: auto;
    margin-left: 25px;
    margin-bottom: 330px;

    text-align: left;

    background-color: transparent;

    &--secondary {
      width: auto;
      margin: 99px 0 0 126px;
    }
  }

  .header__back-button {
    order: 2;
    margin-right: 60px;
    padding: 40px 124px 0 0;

    &::after {
      right: 63px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
