.instruction-list {
  display: flex;
  flex-wrap: wrap;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $bg-dark;

  background-color: $title-orange;

  list-style: none;

  border-radius: 8px;
}
