.intro {
  background: linear-gradient(to bottom, $bg-dark 50%, $bg-dark-light 50%);
}

.intro__container {
  display: flex;
  flex-direction: column;

  padding-top: 50px;
  padding-bottom: 39px;
}

.intro__quote {
  width: 180px;
  margin: 0;
  margin-bottom: 34px;
  padding-left: 25px;
}

@media (min-width: $tablet-width) {
  .intro {
    background: none;
    background-color: $bg-dark-light;
  }

  .intro__container {
    padding-top: 60px;

    background-image: url("../../img/traveller-illustration-tablet@1x.png"),
      url("../../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 72% 9%, 50% 5%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/traveller-illustration-tablet@2x.png"),
        url("../../img/globe-back-tablet@2x.jpg");
      background-size: 372px auto, 1479px auto;
    }
  }

  .intro__quote {
    margin-bottom: 210px;
    padding: 0;
  }

  .intro__content,
  .intro__author {
    width: 260px;
    margin-left: 34px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-color: transparent;
  }

  .intro__container {
    position: relative;
    z-index: 10;
    align-items: flex-end;
    margin-top: -615px;
    margin-bottom: 82px;

    background: none;
    background-color: transparent;
  }

  .intro__quote {
    width: 285px;
    margin-right: 35px;
    margin-bottom: 114px;
  }
}
