.intro {
  display: flex;
  flex-direction: column;

  @include section-padding();
  padding-bottom: 39px;

  background-color: $bg-dark;
}

.intro__quote {
  margin: 0;
  padding-top: 85px;
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../../img/traveller-illustration-tablet@1x.png"),
      url("../../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, 50% 100%;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    align-items: flex-end;
    width: 100%;
    margin-top: -175px;
  }
}
