.level-range {
  width: 100%;
}

.level-range__scale {
  position: relative;
  width: 100%;
  height: 2px;


  background-color: rgba(#000000, 0.1);
}

.level-range__filled-scale {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 67%;
  height: 2px;

  background-color: $title-dark;
}

.level-range__slider {
  content: "";
  position: absolute;
  top: -4px;

  width: 10px;
  height: 10px;

  background-color: $title-dark;

  border-radius: 50%;
  cursor: pointer;

  &--left {
    right: 67%;
  }

  &--right {
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .level-range {
    width: 282px;
  }

  .level-range__scale {
    height: 3px;
  }

  .level-range__filled-scale {
    height: 3px;
  }

  .level-range__slider {
    top: -5px;

    width: 13px;
    height: 13px;
  }
}

@media (min-width: $desktop-width) {
  .level-range__slider {
    &:hover,
    &:focus {
      transform: scale(1.5);
      transition: transform 0.2s;
    }

    &:active {
      box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
    }
  }
}
