.main-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 40px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;

  background-color: #ffffff;

  list-style: none;

  &--nojs {
    display: flex;
    flex-direction: column;
  }

  &--open {
    display: flex;
    position: absolute;
    width: 100%;
    top: 73px;
    left: 0;
  }
}

.main-menu__list {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  text-align: center;
}

.main-menu__wrap {
  display: flex;
  flex-direction: column;
}

.main-menu__button {
  width: 100%;
  margin-bottom: 51px;
  padding: 10px 80px;
}

.main-menu__contacts {
  margin: 0;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .main-menu {
    align-items: flex-start;
    padding-top: 55px;
    padding-left: 100px;
    padding-bottom: 90px;

    &--open {
      top: 128px;
    }

    &--nojs {
      order: 2;
    }
  }

  .main-menu__list {
    margin-bottom: 145px;

    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }

  .main-menu__wrap {
    align-items: flex-start;
  }

  .main-menu__button {
    display: none;

    &--nojs {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;

      width: auto;
      padding: 10px 30px;
    }
  }

  .main-menu__contacts {
    margin-bottom: 131px;
  }

  .main-menu__social {
    align-self: flex-start;
    margin-left: 26px;
  }
}

@media (min-width: $desktop-width) {
  .main-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    margin: 0;
    margin-right: auto;
    padding: 0;
    padding-left: 149px;
    padding-right: 530px;

    font-size: 20px;
    line-height: 30px;
    font-weight: 600;

    background-color: transparent;
  }

  .main-menu__wrap {
    display: none;
  }

  .main-menu__list {
    position: relative;
    display: flex;
    margin-bottom: 0;

    list-style: none;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -105px;

      width: 60px;
      height: 2px;

      background-color: #ffffff;
    }
  }

  .main-menu__item {
    margin-right: 34px;
    background-color: $bg-dark;
  }

  .main-menu__link {
    display: block;
    overflow: hidden;

    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;

    span {
      position: relative;
      display: inline-block;
      transition: transform 0.3s;
    }

    span::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      color: $bg-button;
      white-space: nowrap;
      text-transform: uppercase;
      transform: translate3d(0, 0, 0);
    }

    &:hover span,
    &:focus span {
      transform: translateY(-100%);
    }

    &:active {
      opacity: 0.3;
    }
  }
}
