.plan-card {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 0;

  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: $title-dark;
  text-transform: uppercase;

  background-color: #ffffff;

  border-radius: 8px;
}

.plan-card__counter {
  margin-right: 5px;
  margin-left: 24px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 600;

  &::before {
    counter-increment: plan-card-counter;
    content: counter(plan-card-counter) ".";
  }
}

.plan-card__item-title {
  margin: 0;
  margin-bottom: 21px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: none;
}

.plan-card__wrap {
  padding: 0 25px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.plan-card__travelmates-number {
  margin: 0;
  margin-bottom: 6px;
}

.plan-card__dates {
  margin: 0;
  margin-bottom: 23px;
}

.plan-card__link {
  line-height: 18px;
  color: rgba(#000000, 0.3);
}

@media (min-width: $tablet-width) {
  .plan-card {
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 16px;
  }

  .plan-card__counter {
    margin-right: 32px;

    font-size: 20px;
    line-height: 20px;
  }

  .plan-card__item-title {
    order: -1;
    margin-bottom: 34px;
    margin-left: 35px;

    font-size: 24px;
    line-height: 24px;
  }

  .plan-card__wrap {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 20px 34px 0;

    font-size: 20px;
    line-height: 20px;

    border-top: 1px solid rgba($border-grey, 0.3);
  }

  .plan-card__travelmates-number {
    width: 150px;
    margin: 0;
    margin-right: 35px;
  }

  .plan-card__dates {
    width: 200px;
    margin: 0;
    margin-right: 57px;
  }
}

@media (min-width: $desktop-width) {
  .plan-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 34px 36px 38px 42px;
  }

  .plan-card__counter {
    margin: 0;
    margin-right: 38px;
  }

  .plan-card__item-title {
    order: 0;
    margin: 0;
  }

  .plan-card__wrap {
    width: auto;
    margin: 0;
    margin-left: auto;
    padding: 0;

    letter-spacing: 2px;

    border: none;
  }

  .plan-card__travelmates-number {
    margin-right: 26px;
  }

  .plan-card__dates {
    margin-right: 105px;
  }

  .plan-card__link {
    &:hover,
    &:focus {
      color: rgba(#000000, 0.6);
    }

    &:active {
      color: rgba(#000000, 0.1);
    }
  }
}
