.plans {
  margin-bottom: -25px;

  background-color: $bg-plans;

  @include section-top-border-radius(25px);
}

.plans__container {
  padding-top: 30px;
  padding-bottom: 45px;
}

.plans__title {
  margin-bottom: 35px;
}

.plans__list {
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: plan-card-counter;
}

.plans__item {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .plans__container {
    padding-top: 65px;
    padding-bottom: 90px;
  }

  .plans__title {
    margin-bottom: 55px;
  }

  .plans__list {
    margin: 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    @include section-top-border-radius(50px);
  }

  .plans__title,
  .plans__list {
    margin-left: 65px;
  }
}
