.plans {
  margin-bottom: -25px;

  background-color: $bg-plans;

  @include section-top-border-radius(25px);
}

.plans__container {
  padding-top: 28px;
  padding-bottom: 44px;
}

.plans__title {
  margin-bottom: 30px;
}

.plans__list {
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: plan-card-counter;
}

.plans__item {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .plans__container {
    padding-top: 52px;
    padding-bottom: 88px;
  }

  .plans__title {
    margin-bottom: 54px;
    margin-left: 35px;

    font-size: 36px;
    line-height: 36px;
  }

  .plans__list {
    margin: 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    @include section-top-border-radius(50px);
  }

  .plans__container {
    padding-bottom: 75px;
  }

  .plans__title {
    margin-bottom: 52px;
    margin-left: 70px;
  }

  .plans__list {
    margin: 0;
    margin-left: 65px;
  }

  .plans__item {
    margin-bottom: 15px;
  }
}
