.quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote__author {
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .quote__content {
    margin-bottom: 42px;

    font-size: 28px;
  }

  .quote__author {
    font-size: 21px;
    line-height: 25px;
  }
}
