.rates {
  position: relative;
  width: 100%;

  background-color: $bg-light;

  @include section-border-radius();
  @include outer-fill($bg-dark-light);
}

.rates__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: $text-dark;

  &::before {
    content: "";
    position: absolute;
    top: 37px;
    right: 25px;

    width: 99px;
    height: 99px;

    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/rates@2x.png");
      background-size: cover;
    }
  }
}

.rates__title {
  width: 105px;
  margin-left: 25px;
  margin-bottom: 45px;

  &--business {
    width: 100%;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    text-align: center;
  }
}

.rates__list {
  margin: 0;
  margin-bottom: 27px;
  margin-left: 24px;
  padding: 0;
  padding-right: 45px;

  counter-reset: rates-counter;

  &--business {
    margin: 0;
    padding: 0;
  }
}

.rates__item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-top: -1px;
  padding: 10px 0 12px;

  border-top: 1px solid #e1e3e9;
  border-bottom: 1px solid #e1e3e9;

  &:first-child {
    margin-top: 0;
  }
}

.rates__item-title {
  margin: 0;
}

.rates__counter {
  position: absolute;
  top: 4px;
  right: -62px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;

  line-height: 16px;
  color: #ffffff;

  background-color: #ffa530;

  border-radius: 50%;

  &--second {
    background-color: #ffbd30;
  }

  &--third {
    background-color: #ffd74b;
  }

  &::before {
    vertical-align: bottom;

    counter-increment: rates-counter;
    content: counter(rates-counter);
  }
}

.rates__button {
  margin-bottom: 37px;
  margin-left: 25px;

  &--close {
    margin: 0;
    padding: 18px 0;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $title-dark;

    background-color: $bg-rates-button-close;

    @include section-border-radius(18px);
    border: none;
  }
}

.rates__business {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 50%;

  flex-direction: column;
  width: 270px;
  margin-left: -135px;

  background-color: #ffffff;

  border-radius: 18px;

  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

  &--active {
    display: flex;
  }
}

.rates__business-wrap {
  @include section-padding(34px);
  padding-top: 34px;
}

@media (min-width: $tablet-width) {
  .rates {
    @include section-border-radius(60px);
  }

  .rates__container {
    padding-top: 69px;

    background-image: url("../img/rates-list-back-tablet.png");
    background-repeat: no-repeat;
    background-position: 93% 55%;

    &::before {
      top: unset;
      bottom: 47px;
      right: 86px;
    }
  }

  .rates__title {
    align-self: center;
    width: auto;
    margin-bottom: 79px;
    margin-left: -7px;
  }

  .rates__list {
    width: 100%;
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    padding-right: 35px;
    padding-left: 90px;

    font-size: 28px;
    line-height: 33px;

    &--business {
      margin: 0;
      padding: 0;
    }
  }

  .rates__item {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
  }

  .rates__counter {
    top: 0;
    left: -90px;

    width: 67px;
    height: 67px;
  }

  .rates__button {
    position: relative;
    margin: 0;
    margin-bottom: 65px;
    padding: 23px 0 23px 90px;

    font-size: 20px;
    line-height: 20px;
    color: $rates-btn-color;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 67px;
      height: 67px;

      background-color: $bg-light-grey;
      background-image: url("../img/business.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 17px 21px;

      border-radius: 50%;
    }

    &--close {
      margin: 0;
      padding: 42px 0;

      text-transform: none;

      @include section-border-radius(30px);
    }

    &--close::before {
      display: none;
    }
  }

  .rates__business {
    width: 688px;
    margin-left: -344px;

    border-radius: 30px;
  }

  .rates__business-wrap {
    padding: 54px 91px 51px;
  }
}

@media (min-width: $desktop-width) {
  .rates__container {
    padding-top: 105px;

    background-image: url("../img/rates-list-back-desktop.png");
    background-repeat: no-repeat;
    background-position: 75% 52%;

    &::before {
      top: 285px;
      bottom: unset;
      right: 135px;

      width: 198px;
      height: 198px;
    }
  }

  .rates__title {
    margin-bottom: 137px;

    &--business {
      margin-bottom: 50px;
    }
  }

  .rates__list {
    margin-bottom: 37px;
    padding: 0 345px 0 162px;

    &--business {
      padding: 0;
    }
  }

  .rates__item {
    padding: 15px 0 16px;
  }

  .rates__item-title {
    margin-right: auto;
  }

  .rates__button {
    margin-bottom: 167px;
    margin-left: 71px;

    &--close {
      margin: 0;
    }
  }

  .rates__business {
    bottom: 115px;

    width: 750px;
    margin-left: -375px;
  }

  .rates__business-wrap {
    padding: 54px 60px 51px;
  }
}
