.section-intro {
  margin: 0;

  &--bold {
    font-weight: 700;
  }

  &--font-dark {
    color: $text-dark;
  }
}

.section-intro__link {
  font: inherit;
  color: $bg-button;
  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .section-intro {
    font-size: 28px;
    line-height: 33px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
    }
  }
}
