.transport-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.transport-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;

  &--filter {
    width: 32px;
    height: 32px;
    margin-right: 0;

    background-color: #ffffff;
  }

  &--catalog {
    width: 32px;
    height: 32px;
    margin-right: 0;

    background-color: $bg-light;
  }

  &:hover > .transport-list__tooltip {
    display: block;
    z-index: 10;
  }

  border-radius: 50%;
}

.transport-list__tooltip {
  display: none;
  position: absolute;
  top: 26px;
  left: -50px;

  padding: 16px 29px;

  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  background-color: $bg-tooltip;

  border-radius: 3px;
}

.transport-list__icon {
  &--active {
    fill: $title-dark;
  }
}

.transport-list__input {
  &:checked + .transport-list__item > .transport-list__icon {
    fill: $title-dark;
  }
}

@media (min-width: $tablet-width) {
  .transport-list__item {
    &--catalog {
      background-color: transparent;
    }
  }
}
