.travelmate-card {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $text-dark;

  &--catalog {
    font-size: 15px;
  }

  background-color: #ffffff;

  &--form {
    background-color: transparent;
  }

  border-radius: 18px;
}

.travelmate-card__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $title-dark;
}

.travelmate-card__likes-counter {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $bg-dark;
}

.travelmate-card__hashtag-link {
  font: inherit;
  color: $text-dark;
}

.travelmate-card__countries-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: $title-dark;
  text-transform: uppercase;
}

.travelmate-card__level {
  font-size: 25px;
  line-height: 18px;
  font-weight: 700;
  color: $title-dark;

  &--form {
    font-size: 38px;
    line-height: 38px;
    color: $bg-dark;
  }

  span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: $text-dark;
  }
}

.travelmate-card__button {
  text-transform: uppercase;

  &--change-photo {
    width: 100%;

    color: $bg-dark;
  }
}

.travelmate-card__wrap-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $title-dark;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .travelmate-card {
    &--form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .travelmate-card__level {
    &--form {
      order: -1;
    }
  }

  .travelmate-card__wrap {
    &--transport {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmate-card__level {
    &--form {
      order: 0;
    }
  }

  .travelmate-card__wrap {
    &--transport {
      order: 0;
    }
  }
}
