.travelmate-filter {
  width: 270px;

  @include section-padding(22px);
  padding-top: 24px;

  background-color: $bg-button;

  border-radius: 16px;
}

.travelmate-filter__title {
  margin-bottom: 22px;

  font-size: 23px;
  line-height: 23px;
  color: $title-dark;
}

@media (min-width: $tablet-width) {
  .travelmate-filter {
    width: 100%;
    padding: 38px 35px;
  }

  .travelmate-filter__title {
    margin-bottom: 39px;

    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .travelmate-filter {
    flex-shrink: 0;
    width: 285px;
    padding: 47px;
  }

  .travelmate-filter__title {
    margin-bottom: 23px;
  }
}
