.travelmates-catalog-wrap {
  background-color: $bg-light;
}

@media (min-width: $desktop-width) {
  .travelmates-catalog-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
