.travelmates {
  display: flex;
  flex-direction: column;

  @include section-padding(30px);
  padding-top: 73px;

  background-color: $bg-dark-light;
  background-image: url("../../img/rogovaya-back-mobile@1x.png"),
    url("../../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 18%, 45%;
  background-position: 0 310px, 150px 40px;

  @include section-border-radius();

  &--catalog {
    padding-top: 28px;
    padding-bottom: 285px;

    background-color: $bg-light;
    background-image: none;
  }
}

.travelmates__button {
  order: 2;

  background-color: $bg-button;

  &--catalog {
    text-transform: uppercase;
  }
}

.travelmates__pagination {
  display: flex;
  justify-content: space-between;
}

.travelmates__pagination-list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .travelmates__pagination-list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .travelmates {
    display: block;
    overflow: hidden;

    &--catalog {
      display: flex;
    }
  }

  .travelmates__title,
  .travelmates__intro,
  .travelmates__button {
    width: 50%;
  }
}
