.travelmates-catalog-wrap {
  width: 100%;

  background-color: $bg-light;
}

.travelmates-catalog-wrap__container {
  padding-top: 24px;
}

@media (min-width: $tablet-width) {
  .travelmates-catalog-wrap__container {
    padding-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .travelmates-catalog-wrap__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 112px;
  }
}
