.travelmates-list {
  order: 1;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 11px;
  padding: 0;

  list-style: none;

  &--catalog {
    margin: 0;
    order: 0;
  }
}

@media (min-width: $tablet-width) {
  .travelmates-list {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 72px;
    padding: 0 35px;

    &--catalog {
      flex-direction: column;
      order: 0;
      margin-bottom: 1px;
      padding: 0;
    }
  }

  .travelmates-list__item {
    &:first-child {
      margin-right: 48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmates-list {
    width: 630px;
    margin: 0;
    padding: 0;
    padding-top: 6px;

    &--catalog {
      width: 100%;
      margin-bottom: 34px;
      padding: 0;
    }
  }

  .travelmates-list__item {
    &:first-child {
      margin-right: 60px;
    }
  }
}
