.travelmates {
  position: relative;
  width: 100%;
  background-color: $bg-dark-light;

  @include section-border-radius();
  @include outer-fill();

  &--catalog {
    background: none;
  }
}

.travelmates__container {
  display: flex;
  flex-direction: column;

  padding-top: 73px;

  background-image: url("../../img/blue-back-mobile.png"),
    url("../../img/rogovaya-back-mobile@1x.png"),
    url("../../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 0% 5%, 0% 23%, 80% 5%;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/blue-back-mobile.png"),
      url("../../img/rogovaya-back-mobile@2x.png"),
      url("../../img/smolov-back-desktop@2x.png");
    background-size: 113px auto, 71px auto, 143px auto;
  }

  &--catalog {
    padding-top: 28px;
    padding-bottom: 285px;

    background-color: $bg-light;
    background-image: none;
  }
}

.travelmates__title {
  margin-bottom: 25px;

  &--main {
    margin-left: 25px;
  }
}

.travelmates__intro {
  margin-bottom: 25px;

  &--main {
    margin: 25px;
    margin-top: 0;
  }
}

.travelmates__button {
  position: relative;
  order: 2;
  margin-bottom: 30px;
  padding: 15px 80px 15px 34px;

  text-transform: none;

  border-radius: 8px;

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 25px;

    width: 10px;
    height: 14px;

    background-image: url("../../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--catalog {
    order: 0;
    padding: 15px 34px 15px 80px;

    text-transform: uppercase;
  }

  &--catalog::after {
    display: none;

    text-align: center;
  }

  &--catalog::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 50px;

    width: 18px;
    height: 18px;

    background-image: url("../../img/show-more-plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--back {
    margin-right: 1px;
    margin-bottom: 0;
    padding: 25px 67px;

    background-color: #ffffff;

    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--forward {
    margin-bottom: 0;
    padding: 25px 67px;
    background-color: #ffffff;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }

  &--back::after,
  &--forward::after {
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -5px;
  }

  &--back::after {
    background-image: url("../../img/triangle-arrow-left.svg");
  }
}

.travelmates__pagination {
  display: flex;
  justify-content: space-between;
}

.travelmates__pagination-list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
}

.travelmates__pagination-buttons {
  display: flex;
}

@media (min-width: $tablet-width) {
  .travelmates {
    @include section-border-radius(60px);
  }

  .travelmates__container {
    padding-top: 143px;

    background-image: url("../../img/blue-back-tablet.png"),
      url("../../img/rogovaya-back-desktop@1x.png"),
      url("../../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 7% 8%, 93% 9%, 7% 35%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/blue-back-tablet.png"),
        url("../../img/rogovaya-back-desktop@2x.png"),
        url("../../img/smolov-back-desktop@2x.png");
      background-size: 213px auto, 285px auto, 143px auto;
    }

    &--catalog {
      padding-top: 40px;
      background: none;
    }
  }

  .travelmates__title {
    margin-left: 35px;
  }

  .travelmates__intro {
    width: 430px;
    margin-left: 35px;

    &:last-child {
      width: 400px;
    }
  }

  .travelmates__pagination-list {
    display: flex;
  }

  .travelmates__button {
    margin: 0 35px 88px;
    padding: 30px 50px 32px 35px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 18px;

    &::after {
      top: 35px;
      right: 35px;
    }

    &--catalog {
      margin: 0;
      margin-bottom: 50px;
      padding: 0;

      text-align: center;
    }

    &--catalog::before {
      top: 0;
      left: 230px;
    }

    &--back,
    &--forward {
      margin: 0;
      padding: 25px 15px;
    }

    &--back::after,
    &--forward::after {
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -5px;
    }
  }

  .travelmates__pagination {
    align-items: center;
    width: 100%;
    padding: 25px 35px 25px 28px;

    background-color: #ffffff;

    border-radius: 18px;
  }

  .travelmates__pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 19px;
    border-radius: 50%;

    &--current {
      background-color: $bg-button;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmates__container {
    display: block;
    overflow: hidden;
    padding-top: 133px;

    background-image: url("../../img/blue-back-tablet.png"),
      url("../../img/rogovaya-back-desktop@1x.png"),
      url("../../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 4% 13%, 14% 90%, 41% 22%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/blue-back-tablet.png"),
        url("../../img/rogovaya-back-desktop@2x.png"),
        url("../../img/smolov-back-desktop@2x.png");
      background-size: 213px auto, 285px auto, 143px auto;
    }

    &--catalog {
      display: flex;
      margin-right: 85px;
      padding-top: 0;

      background: none;
    }
  }

  .travelmates__title {
    width: 50%;
    margin-bottom: 70px;
  }

  .travelmates__intro {
    width: 440px;
    margin-bottom: 50px;
  }

  .travelmates__button {
    display: block;
    width: 280px;
    margin-bottom: 134px;

    &--catalog {
      margin: 0 auto;
      margin-bottom: 80px;
    }

    &--catalog::before {
      left: 30px;
    }

    &--back,
    &--forward {
      width: auto;
      margin: 0;
      padding: 25px 15px;
    }

    &--catalog:hover,
    &--catalog:focus,
    &--back:hover,
    &--back:focus,
    &--forward:hover,
    &--forward:focus {
      opacity: 0.6;
    }

    &--catalog:active,
    &--back:active,
    &--forward:active {
      opacity: 0.3;
    }
  }

  .travelmates__pagination-link {
    &:hover,
    &:focus {
      color: rgba($bg-dark, 0.6);
    }

    &:active {
      color: $bg-dark;
      background-color: $bg-button;
    }
  }
}
