.travelmate-card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $text-dark;

  border-radius: 9px;

  background-color: #ffffff;

  &--catalog {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 13px;
    padding-top: 14px;
    padding-bottom: 22px;

    font-size: 15px;

    border-radius: 18px;
  }

  &--form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: transparent;
  }

  &--form picture {
    margin-left: auto;
  }
}

.travelmate-card__image {
  display: block;

  &--catalog {
    position: absolute;
    top: 15px;
    left: 18px;

    border-radius: 50%;
  }

  &--form {
    margin-top: 1px;
    margin-right: 17px;
    margin-bottom: 20px;

    border-radius: 50%;
  }
}

.travelmate-card__name-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.travelmate-card__name {
  position: relative;
  margin: 0;
  margin-bottom: 14px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $title-dark;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -16px;

    width: 5px;
    height: 5px;

    background-color: $bg-offline;

    border-radius: 50%;
  }

  &--online::before {
    background-color: $bg-online;
  }

  &--catalog {
    position: static;
    width: 85px;
    margin-bottom: 44px;
    margin-left: 103px;
  }

  &--catalog::before {
    top: 23px;
    right: 22px;
    left: unset;
  }
}

.travelmate-card__hashtag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 190px;
  margin: 0;
  margin-bottom: 19px;
  margin-left: 5px;
  padding: 0;

  list-style: none;

  appearance: none;

  li {
    margin-right: 5px;
  }

  &--catalog {
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    margin-bottom: 23px;
    padding: 0 70px 0 25px;
  }

  &--editable {
    overflow: auto;
    resize: none;
    width: 100%;
    margin: 0;
    padding: 24px 25px 26px;

    background-color: transparent;

    border: 1px solid $filter-text-border;
    border-radius: 9px;
  }

  &--editable:hover {
    border-color: #aeb4cb;
  }

  &--editable:focus {
    border-color: #161c35;
  }
}

.travelmate-card__hashtag-link {
  font: inherit;
  color: $text-dark;
}

.travelmate-card__section-label {
  margin: 0;
  margin-top: -11px;
  margin-bottom: 18px;
  margin-left: 14px;
  padding: 0 12px;

  background-color: #ffffff;

  &--transport {
    margin-right: 10px;
    margin-bottom: 17px;
  }

  &--transport:first-child {
    margin-right: auto;
  }

  &--form,
  &--form-tags {
    margin-left: 0;

    font-size: 16px;
    line-height: 18px;
    color: $title-dark;
    text-transform: uppercase;

    background-color: $bg-light;
  }

  &--form {
    margin-bottom: 7px;
  }

  &--form-tags {
    margin-top: 0;
    margin-bottom: -10px;
  }
}

.travelmate-card__transport-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  order: 2;
  width: 100%;
  margin-bottom: 15px;

  border-top: 1px solid $bg-light;

  &--form {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 15px;

    border: 1px solid $filter-text-border;
    border-radius: 9px;
  }
}

.travelmate-card__transport {
  margin-bottom: 22px;

  &--catalog {
    margin-bottom: 4px;
    margin-left: 23px;
  }
}

.travelmate-card__level-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;

  width: 60px;
  height: 60px;
  color: #ffffff;

  background-color: rgba(#000000, 0.6);

  border-radius: 50%;

  &--catalog,
  &--form {
    width: 45px;
    height: 45px;

    background-color: transparent;
  }

  &--catalog {
    top: unset;
    bottom: 76px;
    left: unset;
    right: 20px;
  }

  &--form {
    top: 19px;
    left: 17px;

    width: 105px;
    height: 105px;
  }
}

.travelmate-card__level-stroke {
  transform: rotate(-90deg);
}

.travelmate-card__level {
  position: absolute;
  top: 12px;
  left: 17px;

  margin-bottom: 3px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  border-bottom: 1px solid #ffffff;

  &--small {
    position: absolute;
    top: 40px;
    left: 18px;

    font-size: 14px;
    line-height: 14px;
    font-weight: 400;

    border: none;
  }

  &--catalog {
    top: 13px;
    left: 10px;

    color: $title-dark;

    border-bottom: none;
  }

  &--small-catalog {
    display: none;
  }

  &--form {
    top: 25px;
    left: 30px;

    font-size: 38px;
    line-height: 38px;
    color: $bg-dark;

    border-color: $bg-dark;
  }

  &--small-form {
    top: 66px;
    left: 35px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: $text-dark;

    border: none;
  }
}

.travelmate-card__button-wrap {
  display: flex;
  flex-direction: column;
  order: 3;
  width: 100%;
  padding: 0 20px;

  &--form {
    order: 0;
    margin-bottom: 25px;
    padding: 0;
  }
}

.travelmate-card__button {
  padding: 5px;
  text-transform: uppercase;
  text-align: center;

  &--change-photo {
    width: 100%;

    color: $bg-dark;

    background-color: $bg-plans;
  }
}

.travelmate-card__like-button {
  position: absolute;
  top: 55px;
  left: 67px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px 9px;

  background-color: $bg-light;

  border-radius: 50%;

  &--pressed {
    background-color: $bg-like-button-pressed;
  }
}

.travelmate-card__like-heart {
  fill: rgba($bg-dark-light, 0.3);

  &--pressed {
    fill: $heart-fill;
  }
}

.travelmate-card__likes-counter {
  position: absolute;
  top: 61px;
  left: 104px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $bg-dark;
}

.travelmate-card__countries-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  border-top: 1px solid $bg-light;
}

.travelmate-card__countries-list {
  display: flex;
  margin: 0;
  margin-top: -11px;
  margin-bottom: 3px;
  margin-left: 19px;
  padding: 0;

  list-style: none;

  &--catalog {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: 5px;
  }
}

.travelmate-card__countries-item {
  display: flex;
  align-items: center;
  margin-right: 19px;
  margin-bottom: 10px;
}

.travelmate-card__countries-icon {
  &--catalog {
    margin-right: 15px;
  }
}

.travelmate-card__countries-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: $title-dark;
  vertical-align: baseline;
  text-transform: uppercase;
}

.travelmate-card__wrap {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .travelmate-card {

    border-radius: 18px;

    &--catalog {
      margin-bottom: 40px;
      padding: 33px 0 12px;
    }

    &--form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 35px;
    }

    &--form picture {
      margin: 0;
    }
  }

  .travelmate-card__image {
    width: 285px;
    height: 285px;

    &--catalog {
      position: static;
      width: 190px;
      height: 190px;
      margin-right: 33px;
      margin-left: 35px;

      border-radius: 18px;
    }

    &--form {
      width: 94px;
      height: 94px;
      margin-right: 0;
      margin-bottom: 52px;

      border-radius: 6px;
    }
  }

  .travelmate-card__name-wrap {
    align-items: flex-start;
    width: 250px;
    margin-right: 107px;
  }

  .travelmate-card__name {
    position: relative;
    margin-bottom: 21px;

    font-size: 24px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -22px;

      width: 7px;
      height: 7px;
    }

    &--catalog {
      width: auto;
      margin-bottom: 20px;
      margin-left: 0;

      font-size: 30px;
    }

    &--catalog::before {
      top: 10px;
      left: unset;
      right: -29px;
    }
  }

  .travelmate-card__hashtag-list {
    width: 230px;
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 24px;

    &--catalog {
      margin-left: 3px;
      padding: 0;

      border-bottom: none;
    }

    &--editable {
      width: 100%;
      padding: 32px 38px 11px;
    }
  }

  .travelmate-card__section-label {
    margin-left: 71px;

    &--transport {
      display: none;
    }

    &--form {
      margin: -2px 0 -13px -4px;

      font-size: 20px;
      line-height: 20px;
      letter-spacing: 1px;
    }

    &--form-tags {
      margin-bottom: 0;
      margin-top: -33px;
      margin-left: -3px;

      letter-spacing: 1px;
    }
  }

  .travelmate-card__transport-wrap {
    order: -1;

    &--catalog {
      flex-direction: column;
      align-items: center;
      order: 0;
      width: auto;
      margin-bottom: 0;

      border: none;
    }

    &--form {
      flex-direction: column-reverse;
      width: 307px;
      margin: 0;
      margin-right: 61px;
      margin-left: auto;
      padding: 25px;
      padding-bottom: 0;
    }
  }

  .travelmate-card__transport {
    margin-bottom: 30px;

    &--catalog {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  .travelmate-card__level-wrap {
    top: 18px;
    left: 21px;

    &--catalog {
      top: 166px;
      left: unset;
      right: 25px;

      width: 60px;
      height: 60px;
    }

    &--form {
      top: 62px;
      left: 33px;

      width: 100px;
      height: 100px;
    }
  }

  .travelmate-card__level {
    &--small-catalog {
      display: block;
      top: 40px;
      left: 17px;

      font-size: 14px;
      line-height: 14px;
      color: rgba($text-dark, 0.4);
    }

    &--catalog {
      top: 14px;
      left: 17px;

      border-bottom: 1px solid rgba(#000000, 0.1);
    }

    &--form {
      top: 23px;
      left: 27px;
    }

    &--small-form {
      top: 63px;
      left: 32px;
    }
  }

  .travelmate-card__button-wrap {
    order: 0;
    flex-direction: row;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 32px;
    margin-left: 235px;

    &--form {
      margin: 0;
      margin-bottom: 52px;
    }
  }

  .travelmate-card__button {
    padding: 10px 32px;
    border-radius: 25px;

    &--change-photo {
      padding: 15px;
      padding-right: 21px;

      letter-spacing: 1px;

      border-radius: 8px;
    }
  }

  .travelmate-card__like-button {
    position: static;
    margin-right: 6px;
    padding: 16px 15px;
  }

  .travelmate-card__like-heart {
    width: 20px;
    height: 17px;
  }

  .travelmate-card__likes-counter {
    position: static;
    font-size: 20px;
    line-height: 30px;
  }

  .travelmate-card__countries-list {
    margin-bottom: 7px;

    &--catalog {
      flex-direction: row;
      margin-bottom: 0;
      padding-left: 17px;
    }
  }

  .travelmate-card__countries-item {
    margin-right: 19px;

    &--catalog {
      margin-right: 25px;
    }
  }

  .travelmate-card__countries-icon {
    &--catalog {
      width: 35px;
      height: 24px;
      margin-right: 10px;
    }
  }

  .travelmate-card__countries-name {
    font-size: 20px;
    line-height: 30px;
  }

  .travelmate-card__wrap {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .travelmate-card {
    justify-content: flex-end;

    &--catalog {
      margin-bottom: 30px;
      padding: 0;
      justify-content: flex-start;
    }

    &--form {
      background-color: transparent;
    }

    &:hover {
      box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s;
    }

    &:hover .travelmate-card__image {
      transform: scale(1.05);
      z-index: 0;
      transition: transform 0.3s;
    }

    &:hover > .countries-list,
    &:hover > .travelmate-card__level-wrap {
      z-index: 10;
    }

    &--form:hover {
      box-shadow: none;
    }

    &--form:hover .travelmate-card__image {
      transform: none;
    }
  }

  .travelmate-card__image {
    &--catalog {
      width: 285px;
      height: 285px;
      margin-left: 0;
      margin-right: 59px;

      line-height: 30px;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--form {
      width: 190px;
      height: 190px;
      margin-right: 120px;
      margin-bottom: 0;

      @include section-top-border-radius(10px);
      @include section-border-radius(0);
    }
  }

  .travelmate-card__name-wrap {
    margin-top: 48px;
    margin-right: 80px;
  }

  .travelmate-card__name {
    margin-bottom: 19px;

    &--catalog {
      margin-bottom: 21px;
    }

    &::before {
      top: 9px;
      left: -21px;
      right: unset;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .travelmate-card__hashtag-list {
    margin-bottom: 24px;
  }

  .travelmate-card__section-label {
    display: none;

    &--form {
      display: block;
      margin: -5px 0 -10px -2px;
    }

    &--form-tags {
      align-self: flex-start;
      margin-bottom: 0;
      margin-top: -33px;
      margin-left: 26px;
    }
  }

  .travelmate-card__transport-wrap {
    order: 3;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    margin: 0;
    margin-top: -89px;
    margin-right: 143px;

    &--form {
      width: auto;
      flex-direction: column-reverse;
      align-items: center;
      order: 0;
      margin: 0;
      margin-right: 26px;
      padding: 25px 106px 0;
    }
  }

  .travelmate-card__transport {
    &--catalog {
      flex-direction: row;
      margin-right: 10px;
    }
  }

  .travelmate-card__level-wrap {
    top: 24px;
    left: 24px;

    &--catalog {
      top: 182px;
      left: 846px;
    }

    &--form {
      top: 105px;
      left: 955px;
    }
  }

  .travelmate-card__level {
    &--form,
    &--small-form {
      color: #ffffff;

      border-color: #ffffff;
    }
  }

  .travelmate-card__button-wrap {
    order: 2;
    width: auto;
    margin: -97px 90px 0 321px;

    &--form {
      order: 0;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      margin-bottom: 26px;
    }
  }

  .travelmate-card__button {
    &--change-photo {
      width: auto;
      margin-right: 120px;
      padding: 9px 68px;

      @include section-top-border-radius(0);
    }

    &--change-photo:hover,
    &--change-photo:focus {
      background-color: #d1d7e9;
    }

    &--change-photo:active {
      color: rgba($title-dark, 0.3);
    }
  }

  .travelmate-card__button-label {
    display: none;
  }

  .travelmate-card__like-button {
    &:hover,
    &:focus {
      background-color: $bg-light-grey;
    }

    &:active > svg {
      opacity: 0.1;
    }

    &--pressed:hover,
    &--pressed:focus {
      background-color: $bg-like-button-hover;
    }
  }

  .travelmate-card__countries-wrap {
    width: auto;
    margin-top: 48px;

    border: none;
  }

  .travelmate-card__countries-list {
    position: relative;

    margin-bottom: 12px;

    &--catalog {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }

  .travelmate-card__countries-item {
    margin-bottom: 6px;
  }

  .travelmate-card__countries-icon {
    &--catalog {
      margin-right: 18px;
    }
  }

  .travelmate-card__wrap {
    width: 730px;
    margin-right: 142px;
    margin-bottom: 32px;
  }
}
