$bg-dark: #161c35;
$bg-dark-light: #192144;
$title-dark: #1d2e5b;
$title-orange: #ff8d30;
$bg-button: #ffd74b;
$bg-light: #edeff6;
$bg-light-grey: #e2e5f2;
$bg-plans: #dfe3f0;
$bg-plan-add: #d4d9eb;
$text-weekend: #ff5c23;
$border-grey: #cbced9;
$text-dark: #444444;

$tablet-width: 768px;
$desktop-width: 1440px;
