$bg-dark: #161c35;
$bg-dark-light: #192144;
$title-dark: #1d2e5b;
$bg-contacts: #121936;
$title-orange: #ff8d30;
$bg-button: #ffd74b;
$bg-button-yellow: #ffbd30;
$bg-button-orange: #ff8d30;
$bg-phone-hvr: #f26926;
$bg-light: #edeff6;
$bg-light-grey: #e2e5f2;
$bg-plans: #dfe3f0;
$bg-plan-add: #d4d9eb;
$bg-offline: #f97676;
$bg-online: #81e31e;
$text-weekend: #ff5c23;
$border-grey: #cbced9;
$text-dark: #444444;
$rates-btn-color: #132576;
$bg-like-button-pressed: #f9eaea;
$heart-fill: #f02323;
$bg-like-button-hover: #f9d8d8;
$bg-tooltip: #101d41;
$filter-text-border: #cbced9;
$filter-text-border-hvr: #959bb2;
$bg-rates-button-close: #f3f4f8;

$tablet-width: 768px;
$desktop-width: 1440px;
